
.container {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.slide {
  position: fixed;
  width: 70%;
  left:  15%;
  height: 96%;
  top:     2%;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  overflow: auto;
  /* BUG: Firefox applies the padding after applying te left,width rules, and so the slide is shifted to the right; not central.
   * A workaround for this might be to apply the above rules to a container, and put each padded slide inside its corresponding container.  This would require generating extra container elements in the DOM. */
}

.slide-content {
  padding: 30px 50px;
}

body {
  /* In Firefox, we were seeing scrollbars during the animation */
  /* This didn't prevent them: */
  /*overflow: none;*/
  /* This did prevent them: */
  overflow: hidden;
}

