
.container {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  height: 90%;
}

.slide {
  position: fixed;
  top: 0px;
  height: 100%;
  overflow: auto;
}

