
.container {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  width: 80%;
  height: 95%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.slide {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0% 10%;
  height: 100%;
  overflow: auto;
}

body {
  /* In Firefox, we were seeing scrollbars during the animation */
  /* This didn't prevent them: */
  /*overflow: none;*/
  /* This did prevent them: */
  overflow: hidden;
}

